@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ececec;
  color: #0099ff;
  text-align: center;
}

h1, h2, h3 {
  color: #0099ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 72pt;
  text-decoration: underline;
}
h2 {
  font-size: 48pt;
  line-height: 0.5rem;
}
h3 {
  font-size: 24pt;
}
p {
  font-size: 14pt;
}

a:link, a:visited {
  display: inline-block;
  color: #0099ff;
  transition: color 0.1s linear;
}
a:hover, a:focus {
  color: #00b7ff;
}

.content {
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: left;
  background-color: #fff;
  width: calc(90% - 50px);
  color: #000;
  border: 2px solid #0099ff;
  border-radius: 25px;
  padding: 10px 25px;
}

footer {
  font-size: 16pt;
}