@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ececec;
  color: #0099ff;
  text-align: center;
}

h1, h2, h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 72pt;
  text-decoration: underline;
}
h2 {
  font-size: 48pt;
  line-height: 0.5rem;
}
h3 {
  font-size: 24pt;
}

a:link, a:visited {
  display: inline-block;
  font-size: 48px;
  border-radius: 48px;
  text-decoration: none;
  transition: all linear 0.11s;
  margin: 20px;
  width: 400px;
  max-width: calc(100vw - 40px);
  color: #0099ff;
  background-color: #fff;
  border: 2px solid #09f;
  padding: 20px;
}
a:hover, a:focus {
  background-color: #09f;
  color: #fff;
  box-shadow: 0 5px 5px #000;
}

.button__primary:link, .button__primary:visited {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #0099ff;
  color: #ececec;
}
.button__primary:hover, .button__primary:focus {
  background-color: #00b7ff;
}

footer {
  font-size: 16pt;
}