@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Spectral');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  background-color: #eeeeee;
}

h1, h2, h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  color: #0099ff;
  line-height: 1.5rem;
}
h1 {
  font-size: 64pt;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 46pt;
}
h3 {
  text-align: center;
  font-size: 36pt;
}
h4 {
  font-size: 30pt;
}
h5 {
  font-size: 24pt;
}

p {
  margin: 0;
}
a:link, a:visited, a:focus, a:hover {
  color: #09f;
}

.sub {
  text-align: center;
  margin-top: 0;
  font-style: italic;
  font-family: 'Spectral', serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content {
  display: inline-block;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 0 #000;
  text-align: justify;
  padding: 1rem;
  margin: 2rem;
}
.content--100 {
  width: calc(100% - 120px);
}
.content--50 {
  width: calc(50% - 120px);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.element {
  transition: box-shadow 0.1s linear;
  height: 95%;
  background-color: #0099ff;
  display: inline-block;
  position: relative;
  box-shadow: 0 2px 2px 0 #000;
  width: 220px;
  margin: 20px;
  color: #fff;
}
.element:hover {
  box-shadow: 0 5px 10px 0 #000;
}
.element img {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0099ff;
  opacity: 0.9;
}
.element__title {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0;
  line-height: 0;
}
.element__description {
  text-align: center;
  padding: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu a:link, .menu a:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #09f;
  width: 20rem;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 #000;
  margin-bottom: 20px;
  transition: all 0.15s ease-in;
}
.menu a:hover, .menu a:focus {
  background-color: #09f;
  color: #fff;
}

@media only screen and (max-device-width: 800px) {
  .content--50 {
    width: calc(100% - 120px);
  }
}